.cover {
    padding: 50px 0px;
    background: #4285F4;
    color: white;
    text-align: center;
}

.circle {
    display:block;
    width:150px;
    height: 150px;
    border-radius: 150px;
    background: #fff;
    position: relative;
    top: -40px;
}

.image {
    display:inline-block;
    width: 100%;
    height: 90%;
    border-radius: 90%;
    position: relative;
    top: -40px;
    /* border: 0.5px solid black; */
}


.name {
    top: 0%;
    position: absolute;
    left: 34%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;
    text-decoration: underline;
    /* background: black;
    padding: 7px 7px; */
}

@media only screen and (min-width: 400px) {
    .name {
        left: 43%;
    }
}

@media only screen and (min-width: 1000px) {
    .image {
         width: 109%;
        height: 100%;
    }
    .name {
        left: 46.3%;
    }
}